<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.password">12345</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/demousers</property>
    <property name="hibernate.connection.username">eliseo</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.example.demofx.models.OrdersEntity"/>
    <mapping resource="OrdersEntity.hbm.xml"/>
    <mapping resource="OrdersProductsEntity.hbm.xml"/>
    <mapping class="com.example.demofx.models.OrdersProductsEntity"/>
    <mapping class="com.example.demofx.models.ProductsEntity"/>
    <mapping resource="ProductsEntity.hbm.xml"/>
    <mapping class="com.example.demofx.models.UsersEntity"/>
    <mapping resource="UsersEntity.hbm.xml"/>

    <!-- DB schema will be updated if needed -->

  </session-factory>
</hibernate-configuration>